body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

* {
    table {
        border-collapse: unset;
    }
}

.shell {
    max-width: 64.9375rem;
    margin: auto;

    @media ($mobile) {
        margin: auto 46px;
    }
}

/* ------------------------------------------------------------ *\
	Overlay
\* ------------------------------------------------------------ */
.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(124, 124, 124, 0.41);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    &.active {
        opacity: 1;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        visibility: visible;
    }
}