.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.125rem;
    border-radius: 1.125rem;
    border: none;
    text-transform: uppercase;
    height: 3.4375rem;
    background-color: transparent;
    @include font-work(1rem, 600, 0);
    transition: all .4s;

    &__primary {
        background-color: $blue;
        color: $white;
    }

    &__black {
        background-color: $text-dark;
        color: $white;
    }

    &__secondary {
        background-color: $yellow;
        color: $text-dark;
    }

    &__green {
        background-color: $grenn-ligth;
        color: $text-dark;
    }
}
