$blue: #3DC2E4;
$blue-dark: #42BEDF;
$primary: #072C3E;

$text: #383232;
$text-light:#D7D7D7;
$text-dark: #383333;
$yellow: #FFC709;
$green: #115612;
$grenn-ligth: #94CC33;


$white: #FFFFFF;
$black:#000000;
