@mixin font-work ($font-size: 1rem,
    $font-weight: 400,
    $letter-spacing: 0) {
    font-family: 'Work Sans', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}
