$mobileMin: 'max-width: 320px';
$mobile: 'max-width: 48rem';
$tabletMin: 'min-width: 48.0625rem';
$tabletMax: 'max-width: 64rem';
$latpotMin: 'min-width: 64.0625rem';
$laptopMediumMin: 'max-width: 80rem';
$laptopMediumMax: 'min-width: 80.0625rem';
$laptopMax: 'max-width: 90rem';
$desktopLarge: 'min-width: 90.0625rem';